/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.content-svg {
	width: 100%;
}